body {
	margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: #000;
}

html {
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}


/* Container */
.container {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	padding: 0 1.5rem;
}


/* Bold */
.bold {
	font-weight: 700;
}


/* Section */
.section {
	padding: 8rem 0 6rem;
}

.section__title {
	margin-bottom: 8rem;
	text-align: center;
}

.section--small {
	padding: 8rem 0 3rem;
}

.section--gray {
	background-color: #f4f4f4;
}


/* Section-title */
.section-title {
	font-size: 3.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

.section-title--green {
	color: #132d03;
}

.section-title--white {
	color: #fff;
}


/* Row */
.row {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
}


/* Btn */
.btn {
	display: inline-block;
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	box-shadow: 0 5px 10px rgba(0, 1, 3, 0.17);
	border-radius: 5px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	transition: all .2s linear;
}

.btn:hover {
	box-shadow: none;
}

.btn:focus {
	outline: none;
}

.btn--red {
	background-color: #640000;
	background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
}

.btn--red:hover {
	background-image: none;
}

.btn--red:focus {
	box-shadow: 0 0 0 4px #3da001;
}

.btn--green {
	background-color: #2d7700;
	background-image: linear-gradient(to top, #2d7700 0%, #2d7700 3%, #3c9b02 5%, #44b300 100%);
}

.btn--green:hover {
	background-image: none;
}

.btn--green:focus {
	box-shadow: 0 0 0 4px #2d7700;
}


/* Input */
.input {
	font-size: 16px;
	color: #000;
	border-radius: 5px;
	border: 1px solid #d0d0d0;
	background-color: #f7f7f7;
	outline: none;
	transition: all .2s linear;
}

.input:focus {
	box-shadow: 0 0 0 3px #3da001;
}

.input::placeholder {
	font-size: 16px;
	color: #626262;
	font-style: italic;
}

.input:-ms-input-placeholder {
	font-size: 16px;
	color: #626262;
	font-style: italic;
}


/* Phone-block */
.phone-block {
	display: flex;
}

.phone-block__item {
	text-align: right;
}

.phone-block__item:first-child {
	margin-right: 4rem;
}

.phone-block__text {
	margin-bottom: 1.5rem;
	font-size: 1.4rem;
	color: #0d0d0d;
}

.phone-block__numbers {
	font-size: 1.8rem;
	font-weight: 700;
	color: #0d0d0d;
}

.phone-block__number:first-child {
	margin-bottom: 0.6rem;
}

.phone-block__mail {
	margin-bottom: 1.2rem;
	font-size: 1.4rem;
	color: #368c02;
	text-decoration: underline;
}

.phone-block__btn {
	padding: 1.5rem 3rem;
	font-size: 1.4rem;
}


/* Header */
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}


/* Nav */
.nav {
	background-color: #3da001;
}

.nav__list {
	display: flex;
	justify-content: center;
	padding: 1.1rem;
}

.nav__item {
	margin-right: 3rem;
}

.nav__item:last-child {
	margin: 0;
}

.nav__link {
	font-size: 1.8rem;
	color: #fff;
}

.nav__link:hover,
.nav__link:focus {
	text-decoration: none;
}


/* Intro */
.intro {
	background: url('../img/bg/intro-bg.jpg') no-repeat center top / cover;
	text-align: center;
}

.intro__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7rem 0 4.4rem;
}

.intro__title {
	margin-bottom: 7rem;
	font-size: 5rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.intro__title span {
	padding: 1.1rem 3.5rem;
	background-image: linear-gradient(to top, #3a9702 0%, #44b400 100%);
}

.intro__title span:first-child {
	display: block;
	margin-bottom: 2rem;
}

.intro__title span:last-child {
	font-size: 4.4rem;
}

.intro__text {
	margin-bottom: 12rem;
	max-width: 600px;
	width: 100%;
	font-size: 2.9rem;
	text-align: center;
}

.intro__offer {
	padding: 4rem 5rem;
}


/* Wholesale-prices */
.wholesale-prices {
	background-color: #fff;
	box-shadow: 0 14px 40px rgba(0, 1, 3, 0.15);
}

.wholesale-prices__title {
	margin-bottom: 4rem;
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
}

.wholesale-prices__form {
	display: flex;
	margin-bottom: 3.7rem;
}

.wholosale-prices__input {
	width: 260px;
	padding: 2rem;
}

.wholosale-prices__input:first-child {
	margin-right: 2rem;
}

.wholesale-prices__link {
	padding: 1.8rem 7.8rem;
}


/* About-us */
.about-us__inner {
	display: flex;
	flex-wrap: wrap;
}

.about-us__item {
	flex-basis: 25%;
	margin-bottom: 2rem;
	text-align: center;
}

.about-us__icon {
	margin-bottom: 3rem;
}

.about-us__text {
	font-size: 1.8rem;
	color: #0d0d0d;
}


/* Offer */
.offer {
	background: #9c060f url('../img/bg/offer-bg.jpg') no-repeat center top / cover;
	color: #fff;
	text-align: center;
}

.offer__inner {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: center;
	padding: 8rem 0 6rem;
}

.offer__title {
	margin-bottom: 2rem;
	font-size: 5rem;
	font-weight: 700;
	text-transform: uppercase;
}

.offer__subtitle {
	margin-bottom: 4rem;
	font-size: 3.3rem;
}

.offer__text {
	margin-bottom: 5rem;
	font-size: 3rem;
}

.offer__form {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.offer__input {
	width: 400px;
	padding: 1.8rem 2rem;
}

.offer__input:first-child {
	margin-bottom: 1rem;
}

.offer__input:nth-child(2) {
	margin-bottom: 2rem;
}

.offer__btn {
	padding: 2.3rem 12rem;
}


/* Orders */
.orders {
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: inset 0 14px 21px rgba(0, 1, 3, 0.27);
	background-color: #a80d19;
	text-align: center;
}

.orders__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;	
}

.orders__text {
	color: #fff;
}

.orders__numbers {
	display: flex;
	margin: 0 5rem;
	color: #464646;
}

.orders__number {
	width: 45px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0 4px 5px rgba(0, 1, 3, 0.2);
	border-radius: 10px;
}

.orders__number:first-child {
	margin-right: 5px;
}


/* Sets */
.sets {
	color: #fff;
	text-align: center;
	background: #4d5f2e url('../img/bg/sets-bg.jpg') no-repeat center top / cover;
}

.sets__subtitle {
	margin: 2rem 0 6rem;
	font-size: 1.8rem;
}

.sets__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -10px;
}

.sets__col {
	flex-basis: 50%;
}

.sets__item {
	margin: 0 10px 2rem;
	padding: 3rem 4.8rem 3rem 5.6rem;
	background: #fff;
}

.sets__list {
	display: flex;
	margin-bottom: 3rem;
}

.sets__photo {
	margin-right: 6rem;
}

.sets__block {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.sets__block:last-child {
	margin: 0;
}

.sets__size {
	margin-left: 1rem;
	font-size: 1.6rem;
	color: #000;
}

.sets__description {
	margin-bottom: 3rem;
	font-size: 2rem;
	color: #000;
}

.sets__text {
	margin-bottom: .7rem;
}

.sets__text:last-child {
	margin: 0;
}

.sets__btn {
	font-size: 1.6rem;
	padding: 1.4rem 4.2rem;
}


/* Reviews */
.reviews__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.reviews__item {
	display: flex;
	align-items: flex-start;
	width: 50%;
	margin-bottom: 5rem;
	padding: 0 10px;
}

.reviews__avatar {
	height: 140px;
	margin-right: 2rem;
	border-radius: 50%;
}

.reviews__heading {
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
	font-weight: 700;
}

.reviews__text {
	margin-bottom: 2rem;
	font-size: 1.4rem;
}

.reviews__btn {
	font-size: 1.8rem;
    padding: 1.7rem 4rem;
}


/* Production */
.production {
	background: #fff url("../img/bg/poduction-bg.jpg") no-repeat center top / cover;
}

.production__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -10px;
}

.production__item {
	margin: 0 10px 2rem;
	font-size: 1.8rem;
	text-align: center;
}

.production__img {
	max-width: 100%;
	height: auto;
	margin-bottom: 2rem;
}


/* Christmas-tree-item */
.christmas-tree-item {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 0 10px;
	margin-bottom: 2rem;
	font-size: 1.4rem;
}

.christmas-tree-item__content {
	width: 220px;
	padding: 1rem 1rem 2.3rem 1rem; 
	margin-bottom: 2rem;
	background-color: #ffffff;
	text-align: center;
}

.christmas-tree-item__img {
	margin-bottom: 1.5rem;
}

.christmas-tree-item__title {
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
	font-weight: 700;
}

.christmas-tree-item__title span {
	display: block;
}

.christmas-tree-item__description {
	margin-bottom: 1.4rem;
	color: #717171;
}

.christmas-tree-item__description span {
	display: block;
}

.christmas-tree-item__text {
	margin-bottom: .4rem;
}

.christmas-tree-item__text:last-child {
	margin: 0;
}

.christmas-tree-item__btn {
	padding: 1.6rem 2.4rem;
}


/* Artificial Christmas tree catalog */
.artificial-christmas-tree {
	background: #4a151d url('../img/bg/catalog-bg.jpg') no-repeat center top / cover;
}


/* Sweets-tree */
.sweets-tree {
	background: #45403e url('../img/bg/sweets-trees-bg.jpg') no-repeat center top / cover;
}


/* Map */
.map {
	background: url('../img/bg/map.jpg') no-repeat center top / cover;
}

.map__inner {
	display: flex;
    justify-content: flex-start;
	padding: 3rem 0;
}

.map__contacts {
	padding: 6rem 12.5rem 6.2rem 6.2rem;
	font-size: 1.8rem;
	box-shadow: 0 0 21px rgba(0, 1, 3, 0.27);
	background-color: #ffffff;
}

.map__contacts-title {
	margin-bottom: 4.9rem;
	text-transform: uppercase;
	font-size: 3rem;
}

.map__text {
	padding-left: 5.2rem;
	margin-bottom: 4rem;
	position: relative;
}

.map__text::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
}

.map__address::before {
	width: 23px;
	height: 31px;
	background: url('../img/icons/icon-1.png') no-repeat;
}

.map__work-time::before {
	width: 27px;
	height: 26px;
	background: url('../img/icons/icon-2.png') no-repeat;
}

.map__phone-number {
	margin: 0;
	font-size: 2.2rem;
	font-weight: 700;
}

.map__phone-number::before {
	width: 25px;
	height: 25px;
	background: url('../img/icons/icon-3.png') no-repeat;
}


/* Footer */
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

/* Burger */
.burger {
	display: none;
	padding: 13px 2px;
	outline: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
}

.burger__item {
	display: block;
	width: 30px;
	height: 3px;
	position: relative;
	font-size: 0;
	color: transparent;
	background-color: #43b000;
}

.burger__item:before,
.burger__item:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #43b000;
}

.burger__item:before {
	bottom: 8px;
}

.burger__item:after {
	top: 8px;
}


/* Media */
@media (max-width: 970px) {
	.sets__list {
		flex-direction: column;
		align-items: center;
	}

	.sets__photo {
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.reviews__btn {
		padding: 1.7rem 2rem;
	}
}

@media (max-width: 900px) {
	.intro__title {
		font-size: 4rem;
	}

	.intro__title span:last-child {
		font-size: 3.4rem;
	}

	.intro__text {
		margin-bottom: 6rem;
		font-size: 2.5rem;
	}

	.offer__inner {
		align-items: center;
	}

	.offer__title {
		font-size: 4.5rem;
	}

	.offer__subtitle {
		font-size: 3.3rem;
	}

	.offer__text {
		font-size: 2.5rem;
	}

	.orders__text {
		font-size: 3rem;
	}

	.reviews__item {
		width: 100%;
	}
}

@media (max-width: 750px) {
	.sets__description {
		font-size: 1.5rem;
	}

	.about-us__item {
		flex-basis: 50%;
	}
}

@media (max-width: 700px) {
	.phone-block--header,
	.nav {
		display: none;
	}

	.burger {
		display: block;
	}

	.intro__inner {
		padding: 0;
	}

	.intro__title span:last-child {
		font-size: 2.5rem;
	}

	.wholesale-prices__form {
		flex-direction: column;
		align-items: center;
	}

	.wholosale-prices__input:first-child {
		margin: 0 0 2rem 0;
	}

	.section {
		padding: 4rem 0 3rem;
	}

	.section-title {
		font-size: 3rem;
	}

	.section__title {
		margin-bottom: 3rem;
	}

@media (max-width: 700px) {
	.offer__title {
		font-size: 3rem;
	}

	.offer__subtitle {
		margin-bottom: 2rem;
		font-size: 2.3rem;
	}

	.offer__text {
		margin-bottom: 3rem;
	}

	.orders__inner {
		flex-direction: column;
	}

	.orders__text:first-child,
	.orders__numbers {
		margin-bottom: 2rem;
	}

	.sets__item {
		padding: 4rem 7.8rem 4rem 7.8rem;
	}

	.sets__btn {
		font-size: 1.6rem;
		padding: 1.4rem .6rem;
	}

	.map__inner {
		justify-content: center;
	}

	.footer__inner {
		display: flex;
		flex-direction: column;
	}

	.logo--footer {
		margin-bottom: 4rem;
	}
}

@media (max-width: 630px) {
	.intro__title {
		padding: 1.1rem 1.5rem;
		margin-bottom: 4rem;
	}

	.intro__title span:last-child {
		font-size: 2.2rem;
	}

	.intro__text {
		margin-bottom: 3rem;
		font-size: 2rem;
	}

	.wholesale-prices__title {
		margin-bottom: 3rem;
		font-size: 2.5rem;
	}

	.sets__description {
		font-size: 1.2rem;
	}
}

@media (max-width: 500px)  {
	.intro__title {
		font-size: 2.8rem;
	}

	.intro__title span:last-child {
		display: block;
	}

	.reviews__item {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.reviews__avatar {
		margin: 0 0 2rem 0;
	}

	.map__contacts {
		width: 100%;
		padding: 4rem 4.5rem 4rem 4.2rem;
}

@media (max-width: 430px) {
	.header__inner {
		justify-content: flex-end;
	}

	.logo--header {
		display: none;
	}

	.intro__offer {
		padding: 2rem 1rem;
	}

	.wholesale-prices__link {
		padding: 1.8rem 4.8rem;
	}

	.section-title {
		font-size: 2.5rem;
	}

	.about-us__item {
		flex-basis: 100%;
	}

	.offer__inner {
		padding: 3rem 0 3rem;
	}

	.offer__title {
		font-size: 2.5rem;
	}

	.offer__subtitle,
	.offer__text {
		font-size: 2rem;
	}

	.offer__input {
		width: 290px;
	}

	.offer__btn {
		padding: 2.3rem 6rem;
	}

	.orders {
		font-size: 2.5rem;
	}

	.map__text {
		padding-left: 4.2rem;
		margin-bottom: 3rem;
		font-size: 1.5rem;
	}

	.logo--footer {
		margin: 0;
	}

	.phone-block--footer {
		display: none;
	}
}