/* Gotham Pro Light */
@font-face {
	font-family: 'Gotham Pro';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
		 url('../fonts/GothamPro-Light.woff') format('woff');
}
/* Gotham Pro Regular */
@font-face {
	font-family: 'Gotham Pro';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/GothamPro.woff2') format('woff2'),
		 url('../fonts/GothamPro.woff') format('woff');
}
/* Gotham Pro Medium */
@font-face {
	font-family: 'Gotham Pro';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
		 url('../fonts/GothamPro-Medium.woff') format('woff');
}
/* Gotham Pro Bold */
@font-face {
	font-family: 'Gotham Pro';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
		 url('../fonts/GothamPro-Bold.woff') format('woff');
}